/* Formatação do menu */
nav#menu{
  display: block;
  background-color: black;
}
nav#menu li{
  display: inline-block;
  padding: 5px;
  margin: 3px;
  background-color: rgb(68, 68, 68);
}
nav#menu ul{

  top: -20px;
  left: 100px
}
nav#menu a{
  color: rgba(231, 233, 240, 0.98);
  text-decoration: none;
}
